global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

# Front-end & Back-end: single read/write source of truth (Primary Only)
frontend pg_front
    bind *:5432
    default_backend pg_back

backend pg_back
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server pg1 pg-node1:5432 maxconn 100 check port 8008
    server pg2 pg-node2:5432 maxconn 100 check port 8008
    server pg3 pg-node3:5432 maxconn 100 check port 8008

# Dashboard HAProxy Stats
listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /
    stats refresh 5s
    stats auth admin:admin # (Opsional) Username & Password for login
